<!DOCTYPE html>
<html>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>
<body class="w3-light-grey">

<body class="w3-light-grey">

        <title >My First Django blog</title>
    </head>
    <body>
        <div>
            <h1 style="color:Black;background-color:DodgerBlue;"><a href="/"style="color:Black;">My Django blog</a></h1>
        </div>

{% for post in posts %}
    <div>
        <p style="color:Blue;">published: {{ post.published_date }}</p>
        <h2 style="color:White;background-color:Tomato;"><a href="" style="color:White;">{{ post.title }}</a></h1>
        <p style="color:Black;">{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    </body>
</html>
